$textColor: #4C4C4C;
$ButtonBackgroundColor:#fff;
$hoverBackgroundColor:#e2f1fb;
$selectedColor:#0079c1;
$selectedBackgroundColor:#aadbfa;
$noImageBackgroundColor:#eee;
$noImageTextColor:#ccc;
$border:1px solid rgba(0, 0, 0, 0.2);
$shadow:0px 1px 1px rgba(0, 0, 0, 0.5);
$panelBackgroundColor:rgba(255, 255, 255, 0.85);

.esri-wikipedia {
  width: 32px;
  height: 32px;
  background-color: $ButtonBackgroundColor;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
  color: $textColor;
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: $hoverBackgroundColor;
  }
  .esri-icon {
    padding: 8px 0;
  }
  &:active {
    color: $selectedColor;
    background-color: $selectedBackgroundColor;
  }
}

.esri-icon {
  display: inline-block;
  line-height: 16px;
  font-size: 16px;
  height: 16px;
}

.esri-wikipedia--active {
  color: $selectedColor;
  background-color: $selectedBackgroundColor;
}

.esri-wikipedia__panel {
  position: absolute;
  right: 15px;
  min-width: 30%;
  top: 15px;
  bottom: 60px;
  color: $textColor;
  z-index: 50;
  background-color: $panelBackgroundColor;
  display: none;
  flex-direction: column;
  .esri-icon-refresh {
    display: inline-block;
    margin-right: 5px;
  }
}

.esri-wikipedia__panel--open {
  display: flex;
}

.esri-wikipedia__panel--loading {
  .esri-icon-refresh {
    -webkit-animation: esri-anim-rotate 1.25s infinite linear;
    animation: esri-anim-rotate 1.25s infinite linear;
  }
}

.esri-wikipedia__list {
  list-style: none;
  margin: 0;
  color: $textColor;
  padding: 0;
}

.esri-wikipedia__result {
  margin: 0;
  border-top: $border;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $hoverBackgroundColor;
  }
  &:first-child {
    border-top: 0;
  }
}

.esri-wikipedia__message {
  text-align: center;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
}

.esri-wikipedia__result--active,
.esri-wikipedia__result--active:hover {
  background-color: $selectedColor;
}

.esri-wikipedia__result-image {
  height: 75px;
  width: 125px;
  display: block;
  background-color: $noImageBackgroundColor;
  color: $noImageTextColor;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 15px;
  font-size: 75px;
  line-height: 75px;
}

.esri-wikipedia__header {
  display: flex;
  font-weight: bolder;
  border-bottom: $border;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.esri-wikipedia__footer {
  display: flex;
  padding: 15px;
  align-content: center;
  justify-content: center;
  border-top: $border;
}

.esri-wikipedia__title {
  flex: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  padding: 15px;
  margin: 0;
}

.esri-wikipedia__list-scroller {
  flex: 1;
  overflow: auto;
}

.esri-wikipedia__close {
  cursor: pointer;
  flex: 0;
  padding: 15px;
  font-size: 18px;
}

.esri-wikipedia__refresh {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
  padding: 5px 10px;
  cursor: pointer;
}

@-webkit-keyframes esri-anim-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes esri-anim-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}